<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About - CodeDrop</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <header class="navbar">
        <div class="navbar-container">
            <div class="logo">CodeDrop</div>

            <!-- Hamburger -->
            <div class="hamburger" id="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <!-- Navigation Links -->
            <nav class="nav-links" id="nav-links">
                <a href="/" class="active">Home</a>
                <a href="/create">Create Paste</a>
                <a href="/about">About</a>
            </nav>
        </div>
    </header>


    <!-- Main Content -->
    <main class="main-container">
        <section class="home-content">
            <h1>404 - Page Not Found</h1>
            <p>
                Oops! The page you’re looking for doesn’t exist or may have been moved.
            </p>
            <p>
                Don’t worry — you can always return to the homepage and continue exploring CodeDrop.
            </p>

            <a href="/" class="btn">Go Back Home</a>
        </section>
    </main>


    <!-- Footer -->
    <footer class="footer">
        <p>© 2025 CodeDrop. Created for learning purposes.</p>
    </footer>

</body>

</html>